{{define "base"}}
<!DOCTYPE>
<html>
	<head>
		<title>{{block "title" .}}{{end}}</title>
		{{block "style" .}}{{end}}
	</head>	
	<body>
		{{template "content" .}}

		{{block "script" .}}{{end}}
	</body>
</html>
{{end}}
