{{define "title"}}Client Register{{end}}
{{define "style"}}
<style>
body {
}
</style>
{{end}}
{{define "content"}}
<div>
	<h1>Client Register</h1>	

	<form action='/connect/register' method='post'>
		<label for="client_name">Client Name</label>
		<input 
			id="client_name" 
			name="client_name"
			type="text" 
			placeholder="Enter client name" 
			required/>

		<label for="redirect_uris">Redirect URIs</label>
		<input 
			id="redirect_uris" 
   			name="redirect_uris"
			type="text" 
			placeholder="Enter redirect uris" 
			required/>

		<button type="submit">Client Register</button>
	</form>
</div>
{{end}}
