{{define "title"}}Login{{end}}
{{define "content"}}
<div>
	<h1>Login</h1>	

	<label>Email</label>
	<input type="text" placeholder="Enter email"/>

	<label>Password</label>
	<input type="text" placeholder="Enter password"/>


	<button type="submit">Register</button>
</div>
{{end}}
