{{define "title"}}Login{{end}}
{{define "style"}}
<style>
body {
}
</style>
{{end}}
{{define "content"}}
<div>
	<h1>Login</h1>	
	<form>
		<label for="email">Email</label>
		<input 
			id="email" 
			name="email"
			type="email" 
			placeholder="Enter email" 
			required/>

		<label for="password">Password</label>
		<input 
			id="password" 
   			name="password"
			type="password" 
			placeholder="Enter password (min 8 characters)" 
			minlength='8' 
			required/>
		<input type="hidden" id="redirect_uri" value="{{.ReturnURL}}"/>
		<button type="submit" id="submit">Login</button>
	</form>
</div>
{{end}}
{{define "script"}}
	<script>
		(function () {

			let postLogin = () => {
				let body = ['email', 'password']
					.map(field => [field, document.getElementById(field)])
					.map(([field, element]) => [field, element && element.value])
					.reduce((acc, [field, value]) => {
						acc[field] = value
						return acc
					}, {})

				return fetch("http://localhost:8080/login", {
					method: 'POST',
					body: JSON.stringify(body),
					headers: {
						"Content-Type": "application/json"
					}
				})
			} 

			let redirectUrl = document.getElementById("redirect_uri").value 
			let submit = document.getElementById('submit')
			let lock = false
			submit.addEventListener('click', (evt) => {
				evt.preventDefault()
				if (lock) return
				lock = true
				postLogin()
					.then(res => [res.status, res.json()])
					.then(([status, data])=> {
						if (status !== 200) {
							throw new Error(data && data.error)
						}
						window.localStorage.accessToken = data.accessToken
						window.localStorage.idToken = data.idToken
						if (redirectUrl.length > 8)  {
							window.location.replace(redirectUrl)
						}
						console.log('success')
					})
					.catch(err => console.error(err && err.message))
					.finally(_ => {
						lock = true
					})
			})

		})()
	</script>
{{end}}
