{{define "title"}}Register{{end}}
{{define "style"}}
<style>
body {
}
</style>
{{end}}
{{define "content"}}
<div>
	<h1>Register</h1>	

	<form action='/register' method='post'>
		<label for="email">Email</label>
		<input 
			id="email" 
			name="email"
			type="email" 
			placeholder="Enter email" 
			required/>

		<label for="password">Password</label>
		<input 
			id="password" 
   			name="password"
			type="password" 
			placeholder="Enter password (min 8 characters)" 
			minlength='8' 
			required/>

		<button type="submit">Register</button>
	</form>
</div>
{{end}}
