{{define "title"}}Authorize{{end}}
{{define "style"}}
<style>
body {
}
</style>
{{end}}
{{define "content"}}
<div>
	<h1>Authorize</h1>	
	<a href="/authorize">Authorize with OpenID Connect</a>
</div>
{{end}}
